.dialog-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dialog-title div{
    display: flex;
    width: 318px;
    justify-content: space-between;
}

.dialog-title div span{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.dialog-title div span:hover{
    transform: scale(1.1);
}

.dialog-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.dialog-content form, .form-periferico{
    width: 318px;
    flex-wrap: wrap;
}

.dialog-content .form-periferico{
    width: 676px;
    align-items: initial;
}

.title-modal-sucess{
    margin-bottom: 25px;
    text-align: center;
}

.modal-table, .modal-loading-table{
    width: 500px;
    flex-wrap: wrap;
}

.modal-table .modal-table-mensager{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 25%;
}

.modal-loading-table{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}