.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: grid;
    align-content: center;
    justify-content: center;
}

/* PopUp Body */
.dialog {
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
    transition: all 0.5s ease;
    padding: 20px 50px 20px 50px;
    /* margin: 80px; */
}

.buttonsModal{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.buttonsModal a{
    padding: 10px 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.buttonModalNo{
    background-color: #8D2E2E;
}

.buttonModalYes{
    background-color: #31884B;
}