.dialog-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dialog-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.dialog-content form{
    width: 318px;
    flex-wrap: wrap;
}

.title-modal-sucess{
    margin-bottom: 25px;
}

.modal-table, .modal-loading-table{
    width: 500px;
    flex-wrap: wrap;
}

.modal-loading-table{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}