.link-manutencao ul{
    width: 130px;
    height: 33px;
    display: flex;
    justify-content: space-between;
}

.link-manutencao ul li{
    margin-top: 3px;
    transition: all 0.5s ease;
}

.link-manutencao ul li:hover{
    transform: scale(1.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.marca-checkbox {
    display: flex;
    width: 318px;
    justify-content: space-between;
}

form .service-express {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

form .label {
    display: grid;
    margin-bottom: 10px;
}

form .label-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .input {
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
}

form .input-marca {
    width: 150px;
}

form .input-details {
    width: 20px;
}

.button-cadastrar {
    position: initial;
    margin-top: 10px;
    bottom: 0px;
    right: 0px;
    height: 27px;
}

.alterar{
    background-color: #CC9329;
}

.excluir{
    background-color: #8D2E2E;
}

.download{
    margin-top: 20px;
    background-color: #2e578d;
}

input[type=file]::file-selector-button {
    border: none;
    background: #084cdf;
    padding: 5px ;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
  }

.container-buttons{
    display: flex;
    min-width: 318px;
    justify-content: space-between;
}

.dropdown{
    position: absolute;
    background-color: lightgray;
    width: 318px;
    font-size: 18px;
    border-radius: 20px;
    padding: 15px 0px 10px 0px;
    z-index: 9999;
}

.dropdown li{
    cursor: pointer;
    padding-left: 15px;
    padding-bottom: 5px;
    display: flex;
    gap: 5px;
}

.dropdown li:hover{
    background: gray;
    color: white;
}

.dropdown li span{
    display: grid;
    align-content: center;
    width: 18px;
}

.dropdown li span img{
    height: 20px;
}