@import url('styles/Tables.css');
@import url('styles/Pages.css');
@import url('styles/PagesCadastro.css');
@import url('styles/Modal.css');
@import url('styles/ModalContent.css');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    transform: scale(0.9);
    transform-origin: top left;
    width: 111.11%;
    height: 111.11%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 111.11vh;
    overflow: hidden;
}