nav {
    width: 50px;
    height: 111.11vh;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

ul {
    list-style: none;
}

.icon {
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    transition: all 0.5s ease;
}

.icon-logo {
    margin-bottom: 80px;
}

.icon-menu {
    margin-bottom: 15px;
}

.icon span{
    display: flex;
    justify-content: center;
}

.icon:hover {
    background-color: darkgray;
    border-radius: 5px;
    transform: scale(1.1);
}

.linkDestacado {
    background-color: darkgray;
    border-radius: 5px;
    transform: scale(1.1);
}